{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foresty</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='merch.css')}}">
    </head>

    <body class="d-flex text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-left mb-0">Foresty</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-right">

                        <a class="nav-link" aria-current="page" href="../homepage/home.html">Home</a>
                        <a class="nav-link" aria-current="page" href="../articles/articles.html">Articles</a>
                        <a class="nav-link active" aria-current="page" href="./merch.html">Merch</a>

                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                About us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Contact us</a>
                                <a class="dropdown-item" href="#">Our Mission</a>
                                <a class="dropdown-item" href="#">Volunteer</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <main class="px-2 py-4">
                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1493847242172-d46053a1f671?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f91dd5d50f16ba80af53a62d4caf2ce&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1491374812364-00028bbe7d2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a22e4862c36c552e726815949fbcb41a&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1493847242172-d46053a1f671?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f91dd5d50f16ba80af53a62d4caf2ce&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1491374812364-00028bbe7d2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a22e4862c36c552e726815949fbcb41a&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1491374812364-00028bbe7d2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a22e4862c36c552e726815949fbcb41a&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img"
                        style="background-image:url(https://images.unsplash.com/photo-1519176336903-04be58a477d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eda05ddcb3154f39fd8ce88fdd44f531&auto=format&fit=crop&w=500&q=60);">
                        <div class="overlay">
                            <div class="overlay-content">
                                <a href="#!">View Project</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <a href="#!">
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, lorem ipsum dolor</p>
                        </a>
                    </div>
                </div>
            </main>

            <footer class="mt-auto text-white-50">
                <p>&copy; 2020 </p>
            </footer>


        </div>

        <script>
            $(document).ready(function () {

                $('.card').delay(1800).queue(function (next) {
                    $(this).removeClass('hover');
                    $('a.hover').removeClass('hover');
                    next();
                });
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    </body>

</html>
{% endblock %}